/* estilos de Blog */

:root{
    --orange:#F29F05;
    --green:#BFB747;
    --white:#FFF;
    --shadow-boxes: 0 0 10px rgba(0, 0, 0, 0.5);
    --shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    --border-orange: 3px solid #F29F05;
    --size-tile-1: 2.0em;
    --size-tile-2: 1.8em;
    --size-tile-3: 1.5em;
    --size-tile-4: 1.2em;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.link{
    font-weight: 400;
    color:var(--white);
    text-shadow: var(--shadow);
    font-size: 0.8em;
}
.link:hover{
    text-decoration: underline;
}

.post-round-map{
    display: flex;
    flex: 1;
}

.content-blog{
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
    margin-top: 40px;
}
.destaque-blog{
    display: flex;
    flex-direction: column;
    width: 100%;
 
    margin-bottom: 20px;
}
.categoria-titulo-blog{
    display: flex;
    font-size: var(--size-tile-4);
    color: var(--green);
    width: 100%;
    height: 30px;
    border-bottom: var(--border-orange);
    font-weight: bold;
    justify-content: flex-start;
    align-items:flex-end;
    
}
.area-destaque-blog{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.destaque-left{
    display: flex;
    flex: 1;
    height: 350px;
    
        background-position: center;
        background-size: cover;
        flex-direction: column;

}
.destaque-right{
    display: flex;
    width: 370px;
    flex-direction: column;
    height: 350px;

}

.destaque-right-top,
.destaque-right-bottom{
    display: flex;
    height: 170px;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
}
.destaque-right-top{
    margin-bottom: 10px;
    
}
.destaque-right-bottom{
    margin-top: 10px;  
}

.cont-item-blog{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.cont-item-blog-transparent{
    background-color: transparent;
    flex: 1;
    width: 100%;
}
.legend{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding: 3px;
}
.text-legend{
    color: var(--white);
    text-shadow: var(--shadow-boxes);
    font-size: var(--size-tile-3);
    margin-left: 10px;
}
.demais-blog{
    display: flex;

    margin-bottom: 20px;
    flex-direction: column;
}

.categoria-titulo-blog{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}
.content-demais-blog{
    display: flex;
    flex: 1;
    overflow-x: scroll;
    width: 890px;
}

.destaque-demais-left{
    display: flex;
    height: 210px;
    min-width: 280px;
    margin:10px;
    background-position: center;
    background-size: cover;
    box-shadow: var(--shadow-boxes);
    background-image:linear-gradient(
        to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.categoria-blog{
    margin-top: 67px;
    width: 300px;
    max-width: 300px;

}
.categoria-blog-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
}

.categoria-blog-item{
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background-color: #F29F05;
}


.count-blog{
    width: 20px;
    height: 20px;
    background-color:#fff;
    border-radius: 20px;
    color:#736F36;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    font-weight: bold;
}
.count-blog:hover {
    cursor: pointer;
    background-color: #736F36;
    color: #F29F05;
}

.categoria-blog-link{
    color: #fff;
    font-size: var(--size-tile-4);
    font-weight: bold;
    text-decoration: none;
}
.categoria-blog-link:hover{
    color:#736F36;
}
.area-submenu-categoria{
    width:300px;
    background-color: rgba(220,220,220, 0.2);
    padding:10px;   
    margin-top:px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.submenu-categoria-item{
    width:280px;
    margin-bottom: 10px;
    border-bottom: 2px dotted rgb(220,220,220);
}
.submenu-blog-link{
    font-size: 0.8em;
    font-weight: bold;
    color:#000; 
    padding: 10px;
}
.submenu-blog-link:hover {
    color:#F29F05;
}

