*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
img{
    max-width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    height: 100vh;
     
    
}
.container{
    width: 1200px;
    display: flex;   
}
.column{
    flex-direction: column;
}
.header{

    color: #736F36;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.areaLogo{
    width: 250px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.areaLogo h1{
    font-size: 3em;
    font-weight: bold;
    color: #736F36;
}
.areaLogo span{
    font-size: 1em;
    font-weight: bold;
    color: rgb(242, 159, 5);
}
.socialSearch{
    display: flex;
    width: 50%;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
}
.social{
    display: flex;
    margin: 10px;
    margin-bottom: 30px;
}
.socialBg{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    height: 80px;
    border-radius: 20px;
    width: 50%;
    display: flex;
    
}
.search input{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    padding: 7px 10px;
    font-size: 1.2em;
    width: 380px;
    outline: 0;
    border-radius: 30px;

}
.search button{
    background-color: transparent;
    border:0;
    margin-left: -40px;
    margin-top: 10px;

}
.nav{
    height: 50px;

    background-color:rgb(242, 159, 5);
    color: #fff;
    border-bottom: 5px solid #736F36;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1500;
}
.nav ul{
    display: flex;
}
.nav ul li a:link,
.nav ul li a:visited{

    padding: 14px;
    font-weight: bold;
    transition: 0.4s;
    color: #736F36
}

.nav ul li a:hover, 
.nav ul li a:active{
    background-color: #736F36;
    color: #fff;
    max-height: 50px;
}
.nav .container{

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.slider{
    flex: 1;
    overflow:hidden;
}
.sliderWidth{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;

}
.sliderItem{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sliderItem h2{
    font-size: 4em;
    color: #fff;
    text-shadow: 0 1px 5px #333;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0;
}
.sliderItem span{
    font-size: 1.5em;
    color: #fff;
    text-shadow: 0 1px 5px #333;
    font-weight: bold;
    margin: 5px 0;
}

.btn{
    font-size: 1.5em;
    background-color:rgb(242, 159, 5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
    margin: 15px 0;
    position: relative;
    top: 50px;
    z-index: 100;
    transition-duration: 0.2s;
}
.btn:hover{
    background-color:#736F36;
    cursor: pointer;
    box-shadow: none;

}

.sliderControls{
    width: 100%;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sliderControl{
    width:35px;
    height:35px;
    border-radius: 50%;
    background:transparent;
    overflow: hidden;
    cursor: pointer;
    margin: 0 50px;
    
}
.sliderControl.left{
    background-image: url(../img/arrows.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
}
.sliderControl.right{
    background-image: url(../img/arrows.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categorias{
    background-color: rgb(242, 159, 5);
    height: 275px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoriasGeral{
    display: flex;
    width: 1200px;
    padding: 0 100px;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.categorias a:link{
    margin:5px;
}
.categorias img{
    width: 240px;
    height: 90px;
}
.pacotes{
    height: 350px;
    width:1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.pacotesItem{
    min-width: 277px;
    max-width: 277px;
    height: 320px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    border-radius: 12px;
    transition: transform .2s; /* Animation */
    transition-timing-function: ease;
}
.pacotesItem:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.pctImg{
    width: 100%;
    height: 100px;
    background-position: center;
    background-size:cover;
    border-radius: 12px 12px 0 0;
}
.pctCont{
    height: 140px;
    color:#736F36;
    padding: 0 10px;
    margin-top:10px;
    border-bottom:1px solid rgba(0, 0, 0, 0.3);
}
.pctPreco{
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    color: #736F36;
    background-color: rgb(242, 159, 5);
    border-radius: 0 0 12px 12px;
    font-weight: bold;
}

.callToAction1{
    display: flex;
    margin-top: 10px;
}
.cta1-left{
    background-image:linear-gradient(
        to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
        url(../img/cta1BgGd.png);
    background-position: center;
    background-size: cover;
    flex:1;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.4s;
    flex-direction: column;
    color:#FFF;

}
.cta1-right{
    width: 390px;
    flex-direction: column;
    align-items: flex-end;
    color:#FFF;

}

.cta1-right-top,
.cta1-right-bottom{
    height:165px;
    width:350px;
    background-size: cover;
    background-position:top;
    margin-left: 20px;
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 10px;
}
.cta-publicity{
    width: 250px;
    height: 350px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.cta1-right-top a:link, .cta1-right-top a:active, .cta1-right-top a:hover, .cta1-right-top a:visited,
.cta1-right-bottom a:link, .cta1-right-bottom a:active, .cta1-right-bottom a:hover, .cta1-right-bottom a:visited{
    color:#FFF;
    font-weight: 600;
}
.cta1-right-top{
    
    background-image:linear-gradient(
        to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
        url(../img/girlTravel.jpg);
}
.cta1-right-bottom{
    background-image:linear-gradient(
        to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
        url(../img/mountain.jpg);
    margin-top: 20px;
    background-position: bottom;
}
.bannerDivisor1{
    background-image:linear-gradient(
        to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
        url(../img/3.jpg);
    margin-top: 20px;
    background-position: bottom;
    background-position: top;
    background-attachment: fixed;
    height: 300px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color:#FFF;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.bannerDivisor1 h2{
    line-height: 1.5em;
}
.noticias{
    margin-top: 20px;
}

.gridNoticias{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 10px 10px;

}
.noticia{
min-height: 400px;
width: 290px;
max-width: 300px;
display: flex;
flex-direction: column;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
justify-content: space-between;
overflow: hidden;
}
.notImg{
    background-size: cover;
    background-position: center;
    background-position: top;
    justify-content: center;
    align-items: center;
    color:#FFF;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 150px;
}
.notCont{
    margin-top: 10px;
    padding-left: 10px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.notCont h2{
    font-size: 1.2em;;
    margin-bottom: 5px;
    color: #736F36;
}

.notCont p{
    font-size: 0.8em;

    font-weight: 600;
    line-height: 1.5em;
    color: rgb(242, 159, 5);
}
.notCont a:link, .notCont a:active, .notCont a:hover, .notCont a:visited{
    font-size: 0.8em;
    font-weight: bold;
    color:#736F36;
}
.notFoot{
    margin-top: 10px;
    display: flex;
    flex-direction: column;    
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(242, 159, 5);
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 10px 0 10px 10px;
    color: #FFF;
}
.eventos{
    margin-top: 20px;
}
.collum{
    flex-direction: column;
}
.gridEventos1{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap:20px;    

}
.imgEvento{
    width: 100%;
    min-height: 220px;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgEvento h3{
    text-align: center;
    color: #FFF;
    margin: 0 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.eventoLeft{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    grid-auto-rows: minmax(200px,300px);
}
.itemEventoL{
    color:#736F36;
}
.itemEventoL p{
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: 600;

}
.eventoRight{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}
.itemEventoR{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(
        to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url(../img/2.jpg);
    background-position:left;
    background-size: cover;
    height: 200px;
    max-width: 300px;
    max-height:200px;
       
    padding: 10px;

}
.itemEventoR h2{
    font-size: 2em;
    color: #fff;
    text-shadow:  0 0 5px rgba(0, 0, 0, 0.5);
}

.depoimentos h2{
    margin: 50px;
    color: #736F36;
    border-bottom: solid 5px #736F36; 
}
.depoimentos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.depoimentos .container{
    justify-content: space-between;
}

.depoimentoFoto{
    height: 150px;
    width:150px;
    background:url(../img/avatar.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border:solid 3px #FFF;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.depoimentosIndex{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.areaDepoimento{
display: flex;
height: 450px;
display: flex;
flex-direction: column;
justify-content:space-around;
align-items:center;
background-color: rgba(242, 159, 5, 1) ;
}
.areaDepoimento span{
    font-size: 0.8em;
    color: #fff;
    display: flex;
    justify-content:flex-end;
    padding: 10px;
    font-weight: 600;
}
.txtDepoimento{
    text-align: justify;
    margin: 20px;
    color: #FFF;
    font-size: 1.3em;
}
.anunciosIndex{
   display: flex;
   justify-content: space-around;
   margin: 20px 0;
   
}
.anuncios{
    min-width: 280px;
    min-height: 140px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: url(../img/anuncio.png);
    background-position: center;
    background-size: cover;
}
.anuncio-news{
    min-width: 300px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.anuncio-news h4{
 font-weight: bold;
}
footer{
    height: 70vh;
    background-color: #8C6C61;
    display: flex;
}
.paginationArea{
    display:flex;

    width: 100%;
    flex-direction: column;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;

}
.espaco{
    display: flex;
    width: 100%;

    height: 50px;
}
.pagination a{
    display: inline-block;
    padding: 7px 10px;
    margin: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color:rgba(242, 159, 5, 1);
    color:#736F36;
    font-weight: 600;
    border-radius: 5px;
}
.pagination a.active{
    background-color:#736F36;
    color:rgba(242, 159, 5, 1); 
    font-weight: 600;
}


@media screen and (min-width: 0px) and (max-width: 480px) {
    section{
        background-color: black;
    }
}

@media screen and (min-width:481px) and (max-width:768px){
    section{
        
        background-color: red;
    }
}
@media screen and (min-width:769px) and (max-width:1279px){
    section{
        
        background-color: blue;
    }
}
@media screen and (min-width:1280px){
    section{
        
        background-color: #FFF;
    }
}
    

/* 
breakpoints 
-> 0px - 480px smaller smartphones
-> 481px-768px tablets e larger smartphones
-> 769px-1279px laptops larger tablets in landscape e small desktops
-> 1280+ larger desktops and monitors*/
